@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cute+Font&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.logintxt {
    color: rgb(105, 32, 32);
    font-family: "Caveat", cursive;
    margin-bottom: 50px;
}

.logindiv {
    background-color: rgb(233, 233, 233);
    max-width: 400px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 300px;
    border-radius: 25px;
}

.emailbox, .passbox {
    width: 250px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 15px; 
    outline: none; 
}

.emailbox::placeholder,
.passbox::placeholder {
    color: #999;
    font-style: italic;
}


.emailbox:focus,
.passbox:focus {
    border-color: #66afe9; 
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.regknop {
    width: 300px;
    background-color:gray ;
    font-family: "Open Sans", sans-serif;
    background-color:gray ;
    border-radius: 10px;
}

.loginknop {
    width: 300px;
    margin-top: 20px;
    background-color:gray ;
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
}